Source: ec2metadata
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>> 10),
Standards-Version: 4.0.0

Package: tkl-ec2metadata
Architecture: any
Depends:
 cloud-guest-utils
Breaks: ec2metadata (<<0+2022~)
Replaces: ec2metadata (<<0+2022~)
Conflicts: ec2metadata (<<0+2022~)
Description: Allow ec2metadata (from cloud-guest-utils) to be imported as py3 module
 ec2metadata was originally developed by Alon Swartz (TurnKey GNU/Linux) but has since been
 adopted by Cannonical for inclusion in the Ubuntu "cloud-guest-utils'[1] package. The
 Ubuntu version of ec2metadata has since been maintained (inc updated to py3), plus
 backported into Debian[2].
 .
 This package now only contains a symlink so that ec2metadata can be imported as a python
 module.
 .
 [1] https://github.com/canonical/cloud-utils/blob/main/bin/ec2metadata
 [2] https://tracker.debian.org/pkg/cloud-utils
