Source: ec2metadata
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>> 10),
 dh-python,
 python-all (>= 2.6.6-3~),
 turnkey-pylib (>= 0.3),
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: ec2metadata
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
Description: Query and display EC2 metadata related to the AMI instance
