Source: ec2metadata
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>> 10),
 turnkey-pylib (>= 0.3),
Standards-Version: 4.0.0

Package: ec2metadata
Architecture: any
Depends:
 ${misc:Depends},
 python (>= 2.4),
Description: Query and display EC2 metadata related to the AMI instance
